__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.mypy_cache/
.vscode/
.idea/
.git/
.gitignore
*.md
LICENSE
Dockerfile
fly.toml
docker-compose.yml
RUN_INSTRUCTIONS.txt
vector_stores/
wiki_structure.json
wiki_section_json/
*.log
